
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
  background-color: rgba(80, 251, 137, 0.448);
}

.table {
 background-color: rgba(33, 159, 54, 0.284);
 margin-bottom: 5em;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #5398ab5b;
  height: 5em;
}

.navItem {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  font-weight: 2000;
  color: #19459e;
  text-decoration: none;
}


.remFunds {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff87;
  justify-content: space-between;
  width: 29em;
  padding: 0.5em 2em;
  font-size: 18px;
  
}

.reset {
  background-color: #89a7af;
  margin-right: 10em;
}

.form-control {
  width: 10em;
  height: 2em;
  margin: 0 2em;
  align-self: center;
}

.inputField {
  display: flex;
}

#trans {
  text-align: center;
  margin: 1em;
  font-family: 'Cardo', serif;
  font-size: 60px;
}


.labelSrc {
  align-self: center;
  font-size: 20px;
}

.addField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5em;
}

.labelAdd {
  align-self: center;
}

.showAll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: -1em;
}

.d-flex {
  margin-bottom: 2em;
  justify-content: center;
  flex-wrap: wrap;
}

.green {
  color: green;
}

.alignBtn {
  height: 2.7em;
  align-self: center;
}

.details {
  margin: 2em 0 0 6em;
  font-size: 20px;
  font-weight: 800;
}

.tHead {
  font-size: 27px;
  font-weight: 700;
}

.tBody {
  font-size: 18px;
}

.addForm {
  display: flex;
}

.addCont {
  display: flex;
  flex-direction: column;
  margin: 2em 0 ;
  background-color: rgba(33, 159, 54, 0.284);
  padding: 2em;
  width: 80%;
  text-align: center;
  align-self: center;
}

.manageCol {
  display: flex;
  flex-direction: column;
}

.addFunds {
  display: flex;
}

.dashTop {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(29, 186, 150, 0.422);
  height: 50%;
  margin: 3em;
}

.dash {
  padding: 6em;
}

.titleName {
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 80px;
  /* color: rgb(93, 87, 172); */
  
  padding: 1em 0;
}

.butLeft {
  width: 12em;
  height: 4em;
  margin: 3em;
  font-size: 20px;
}

.titleDash {
  text-align: center;
  font-size: 80px;
  font-family: 'Lobster Two', cursive;
}

.createBtn {
  width: 15em;
  height: 4em;
  font-size: 23px;
  
}

.dashBot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  margin: 5em;
}

.titleAdd {
  text-align: center;
  font-size: 50px;
  font-family: 'Cardo', serif;
  margin-top: 1em;
}

.confirm {
  margin: 0 0 2em 2em;
}

